@model (string Title, string Text)


<div class="col-md-3">
    <div class="card text-white bg-primary">
        <div class="card-body">
            <h6 class="card-title">@Model.Title</h6>
            <h2 class="card-text">@Model.Text</h2>
        </div>
    </div>
</div>