@model (string Title, string Text, string Link)


<div class="col-md-3">
    <div class="card text-white bg-primary">
        <div class="card-body">
            <h6 class="card-title">@Model.Title</h6>
            <h2 class="card-text">@Model.Text</h2>
            <div class="card-body">
                <a href="@Model.Link" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>