@model System.Collections.Generic.List<DBAudit.Infrastructure.Contracts.Entities.Column>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Columns</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped ">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Active</th>
                </tr>
                @foreach (var column in Model)
                {
                    <tr>
                        <td>@column.Name</td>
                        <td>@column.Type</td>
                        <td>@(column.IsActive ? "✅" : "❌")</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
