@model System.Collections.Generic.List<DBAudit.Infrastructure.Data.Entities.Table>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Tables</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped ">
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                </tr>
                @foreach (var database in Model)
                {
                    <tr>
                        <td>@database.Name</td>
                        <td>@(database.IsActive ? "✅" : "❌")</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
