@model System.Collections.Generic.IEnumerable<DBAudit.Infrastructure.Repositories.EnvironmentDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<table class="table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @if (item.IsActive.Value)
                {
                    
                }
            </td>
        </tr>
    }
</table>